@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center mb-4">@ViewData["Title"]</h1>

@section Style {
    <style>
        .employee-item {
            margin-bottom: 20px;
        }

        .privacy-text {
            background: #AFE1AF;
            color: red;
            text-align: center;
            font-size: 1.1rem;
        }

            .privacy-text:hover {
                background: #023020;
                color: red;
            }
    </style>
}

<p class="privacy-text">Use this page to detail your site's privacy policy.</p>


<div class="text-center my-4">
    <a asp-action="EmployeeSave" asp-controller="Employee" class="btn btn-primary btn-lg">Add New Employee</a>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 employee-item">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h4 class="card-title text-primary">Name: @item.Name</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Department: @item.DeptId</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Designation: @item.DesigID</h6>
                    <p class="card-text">Address: @item.Address</p>
                    <p class="card-text">City: @item.City</p>
                    <p class="card-text">Phone Number: @item.Phone</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a asp-action="EmployeeSave" asp-controller="Employee" asp-route-Id="@item.Id" class="btn btn-outline-success btn-sm">Edit</a>
                    <a asp-action="EmployeeDelete" asp-controller="Employee" asp-route-Id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

@section jekono {
    <p class="privacy-text">This is from Privacy</p>
}
